
	<!-- 親情報 -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-5">
					{{ topic.subject }}
				</div>
				<div class="col-md-7 text-right">
					<span class="text-warning"> {{ topic.name }}</span>
					<span class="text-muted"> ({{ topic.created_at }})</span>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<p style="white-space: pre-line;">{{ topic.comment }}</p>
		</div>
	</div>

	<div class="col-md-12" style="margin-bottom: 16px;">
		<button class="btn btn-info btn-sm" ng-model="hidePost" ng-disabled="loading" btn-checkbox><span ng-show="hidePost">コメント追加を表示</span><span ng-hide="hidePost">コメント追加を非表示</span></button>
		<div style="float:right;"><button class="btn btn-default" ng-click="reloadComment()">更新</button></div>
	</div>

	<form name="fm" ng-hide="hidePost || loading" style="clear:both;">
		<div class="form-group">
			<input type="text" class="form-control input-sm" name="name" ng-model="postData.name" required placeholder="名前">
			<span class="error text-danger" ng-show="fm.name.$error.required">名前を入力してください</span>
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="3" name="comment" ng-model="postData.comment" required placeholder="内容"></textarea>
			<span class="error text-danger" ng-show="fm.comment.$error.required">内容を入力してください</span>
		</div>
		<div class="form-group">
			<input type="file" ng-file-select ng-multiple="false" ng-file-change="upload($files)" />
			<p class="text-warning">ファイル添付の情報が残ってしまうため連続投稿時は一旦ページを再読み込みしてから行ってください。</p>
		</div>
		<p class="text-right">
			<button ng-show="imageUploading" class="btn btn-default btn-muted">ファイルアップロード中です</button>
			<button ng-hide="imageUploading" ng-disabled="imageUploading" class="btn btn-default btn-primary" ng-click="save()">コメントする</button>
		</p>
	</form>

	<div class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></div>

	<div class="panel panel-default" ng-hide="loading" style="clear:both;">
		<div class="panel-heading">
			comments
		</div>
		<div class="panel-body" style="padding-top:0; padding-bottom:0;">
			<div ng-show="comments.length == 0">
				nodata
			</div>
			<div ng-repeat="c in comments">
				<div class="row" style="border-bottom: solid 1px #f0f0f0; padding: 10px 0;">
					<div class="col-md-7">
						<span class="text-warning"> {{ c.name }}</span>
						<span class="text-muted"> ({{ c.created_at }})</span>
						<button ng-click="deleteComment(c.id)" class="btn btn-danger btn-xs" style="cursor:pointer;">削除</button>
					</div>
					<div class="col-md-5" ng-show="c.media_id != 0">
						<a href="/#/media/{{c.media_id}}" class="btn btn-xs btn-warning">添付ファイル</a> ({{c.filesize|filesize}})
					</div>
				</div>
				<div class="row" style="border-bottom: solid 1px #f0f0f0; padding: 10px 0;">
					<div class="col-md-12">
						<p ng-show="c.thumb_url">
							<a href="/#/media/{{c.media_id}}">
								<img ng-src="{{ c.thumb_url }}" />
							</a>
						</p>
						<p style="white-space: pre-line;">{{ c.comment }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<pagination rotate="false" items-per-page="itemPerPage" max-size="maxSize" boundary-links="true" total-items="totalItems" ng-model="filters.page" ng-change="loadDetail()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>
	</div>
